        :root{
            --bg-body:#ffffff;
            --bg-bu-color:#ffffff00;

            --bu-error-color:#D7003A;
            --bu-answer-color:#AACF53;
            --bu-home-color:#F8B500;
            
            --text-color-main:#007bbb;
            --text-color-next:#ffffff;

            --boder-input-color:#707070;
            --text-color-input:#818181;

            --nav-color:#707070;

            --boder-box:#000000;

            --bu-boder-radius:5px;
            --bu-boder-thick:5px;

            --boder-ratio:1px;

            --bu-invalid-color:#7d7d7db0;
            --bg-answer-correct:#dddddd;

            --fil-bg:blur(4px);
        }

        *{
            /* フォントの設定 */
            font-family: "M PLUS 1p", sans-serif;
            font-weight: 700;
            font-style: normal;
            box-sizing: border-box;
            transition: all 0.3s ease;
        }
        html{
            scroll-behavior: smooth;
        }
        body{
            padding: 0;
            margin: 0;
            width: 100vw;
            height: 100vh;
            text-align: center;
        }
        button{
            background-color: var(--bg-bu-color);
            font-size: 1.2em;
            padding: 5px 15px;
            cursor:pointer;

        }
        /* ヘッダー */
        header{
            position:fixed;
            width: 100vw;
            height: 60px;
            border-bottom:var(--boder-box) 2px solid;
            top: 0;
            left: 0;
            backdrop-filter: var(--fil-bg);
            z-index: 999;
        }
        header button{
            border: var(--bu-home-color) var(--bu-boder-thick) solid;
            border-radius: var(--bu-boder-radius);
            text-align: center;
            color: var(--bu-home-color);
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
        }
        header h1{
            color: var(--text-color-main);
            font-size: 2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0px;
        }
        .header-info--box{
            width: 40%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }
        .header-info--box p{
            font-size: 1.5em;
            color: var(--text-color-main);
            margin: 0px;
            margin: auto;
        }
        .header-info--box button{
            width: 40px;
            height: 40px;
            border: var(--nav-color) 2px solid;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: calc(100% - 60px);
        }
        .header-info--box button span{
            width: 20px;
            height: 2px;
            background-color: var(--nav-color);
            margin: 2px 0;
            display: block;
        }

        /* メイン */
        main{
            width: 100vw;
            height: auto;
            background-color: var(--bg-body);
            padding: 100px 50px;
            box-sizing: border-box;
        }
        .ratio{
            background-color: var(--bg-answer-correct);
            padding: 20px;
            border-radius: 5px;
            border: var(--boder-input-color) var(--boder-ratio) solid;
        }
        .ratio--box{
            width: 100%;
            height: 100%;

        }
        .ratio__ratios{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            position: relative;
        }
        #Correct-Bar{
            position: relative;
            width: 50%;
            height: 100%;
            left: 0;
            display: block;
            background-color: var(--bu-answer-color);
            border: var(--boder-input-color) var(--boder-ratio) solid;
        }
        #Miss-Bar{
            position: relative;
            width: 50%;
            height: 100%;
            right: 0;
            display: block;
            background-color: var(--bu-error-color);
            border: var(--boder-input-color) var(--boder-ratio) solid;
            border-left: 0px;

        }
        .ratio__info{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content:space-around;
            font-size: 3.5em;
        }
        .ratio__info p{
            margin: 15px;
        }
        #Correct-Rate{
            color: var(--bu-answer-color);
            display: block;
        }
        #Miss-Rate{
            color: var(--bu-error-color);
        }

        /* ナビゲーション */
        nav{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 30px 0;
            font-size: 1.5em;
        }
        nav button:nth-child(1){
            border: var(--bu-home-color) var(--bu-boder-thick) solid;
            border-radius: var(--bu-boder-radius);
            text-align: center;
            color: var(--bu-home-color);
        }
        nav button:nth-child(2){
            border: var(--text-color-main) var(--bu-boder-thick) solid;
            border-radius: var(--bu-boder-radius);
            text-align: center;
            color: var(--text-color-main);
        }

        /* 回答結果 */
        .answer{
            width: 100%;
            height: auto;
        }
        .answer--box{
            width: 100%;
            height: 6em;
            border: var(--boder-input-color) var(--boder-ratio) solid;
            position: relative;
        }
        .answer--box:nth-child(1){
            border-top: var(--boder-input-color) var(--boder-ratio) solid;
        }
        .answer--box button{
            position: absolute;
            left: 30px;
            top: 50%;
            border: var(--bu-answer-color) var(--bu-boder-thick) solid;
            border-radius: var(--bu-boder-radius);
            text-align: center;
            color: var(--bu-answer-color);
            transform: translateY(-50%);

        }
        .answer--box p{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            margin: 0px;
            font-size: 4em;
            color: var(--bu-answer-color);
        }
        .answer__correct{
            margin: 5px;
            margin-left: auto;
            border: var(--boder-input-color) var(--boder-ratio) solid;
            border-radius: 5px;
            width:20% ;
            height:calc(100% - (5px * 2));
        }
        .answer__correct--box{
            width: 100%;
            height: 100%;
            position: relative;
        }
        .answer__correct--box span{
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 1em;
            color: var(--nav-color);

        }
        .answer__correct--box p{
            font-size: 2em;
            color: var(--nav-color);
        }

        :root{
            --top-link:50px
        }
        #top-link a{
            display: block;
            position: fixed;
            bottom: 30px;
            right: 30px;
            width: var(--top-link);
            height: var(--top-link);
            border: var(--nav-color) 2px solid;
            border-radius: 30px;
        }
        #top-link a::after{
            content: "";
            position: absolute;
            top: 60%;
            left: 50%;
            width: calc(var(--top-link) / 2);
            height: calc(var(--top-link) / 2);
            border: var(--nav-color) 3px solid;
            
            border-bottom: 0px;
            border-right: 0px;

            transform: translate(-50%,-50%) rotate(45deg);
            
        }