        :root{
            --bg-body:#ffffff;
            --bg-main:#f2f2f2;
            --bg-bu-color:#ffffff00;
            --bg-header:#ffffffae;

            --bu-error-color:#D7003A;
            --bu-answer-color:#AACF53;
            --bu-home-color:#F8B500;
            
            --text-color-main:#007bbb;
            --text-color-next:#ffffff;

            --boder-input-color:#707070;
            --text-color-input:#818181;

            --nav-color:#707070;

            --boder-box:#000000;

            --bu-boder-radius:5px;
            --bu-boder-thick:5px;

            --boder-ratio:1px;

            --bu-invalid-color:#7d7d7db0;
            --bg-answer-correct:#dddddd;

            --answer--st:5px;
            --history--shadow-size:5px;
            --history--shadow-color:#000000b0;
            --answer--shadow-color:#000000a8;
            --history--boder-color:#737373;

            --fil-bg:blur(4px);

            --max-width:1024px;
        }
        body .mode--dark {
            --bg-body: #606060;
            --bg-main: #323232;
            --bg-bu-color: #ffffff00;
            --bg-header: #3f3f3fae;
            --text-color-next: #ffffff;
            --text-color-main: #009cee;
            --history--boder-color: #cfcfcf;
            --bg-answer-correct: #434343;
            --input-color:#3c3b3b;
            --bu-answer-color: #aaed0e;
            --info-text-color: #969696;
        }
        *{
            /* フォントの設定 */
            font-family: "M PLUS 1p", sans-serif;
            font-weight: 700;
            font-style: normal;
            box-sizing: border-box;
            transition: all 0.3s ease;
        }
        html{
            scroll-behavior: smooth;
        }
        body{
            padding: 0;
            margin: 0;
            width: 100vw;
            height: 100vh;
            text-align: center;
            font-size:clamp( 12px, 1.3vw, 22px) ;

        }
        button{
            background-color: var(--bg-bu-color);
            font-size: 1.2em;
            padding: 5px 15px;
            cursor:pointer;
            filter: grayscale(0%);
            transition: all 0.5s ease;
        }
        button:hover{
            filter: grayscale(90%);
        }
        /* ヘッダー */
        header button{
            border: var(--bu-home-color) var(--bu-boder-thick) solid;
            border-radius: var(--bu-boder-radius);
            text-align: center;
            color: var(--bu-home-color);
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
        }

        /* メイン */
        main{
            width: 100vw;
            min-height: 100vh;
            height: auto;
            background-color: var(--bg-main);
            padding: 100px 50px;
            box-sizing: border-box;
        }
        .ratio{
            background-color: var(--bg-answer-correct);
            padding: 20px;
            border-radius: 5px;
            
            margin: auto;

            box-shadow: 0px 0px var(--history--shadow-size) var(--history--shadow-color);
            border-radius: 10px;
            max-width: var(--max-width);

        }
        .ratio--box{
            width: 100%;
            height: 100%;

        }
        .ratio__ratios{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 1px 1px 5px #00000070;
        }
        .ratio__ratios:hover{
            box-shadow: 4px 4px 6px #00000070;
        }
        #Correct-Bar{
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            display: block;
            background: linear-gradient(to right, var(--bu-answer-color) 50%, var(--bu-error-color) 100%);
        }
        .ratio__info{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content:space-around;
            font-size: 3.5em;
        }
        .ratio__info p{
            margin: 15px;
        }
        #Correct-Rate{
            color: var(--bu-answer-color);
            display: block;
        }
        #Miss-Rate{
            color: var(--bu-error-color);
        }

        /* ナビゲーション */
        nav{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.5em;

            margin: 30px auto;

            max-width: var(--max-width);
            
        }
        nav button:nth-child(1){
            border: var(--bu-home-color) var(--bu-boder-thick) solid;
            border-radius: var(--bu-boder-radius);
            text-align: center;
            color: var(--bu-home-color);
        }
        nav button:nth-child(2){
            border: var(--text-color-main) var(--bu-boder-thick) solid;
            border-radius: var(--bu-boder-radius);
            text-align: center;
            color: var(--text-color-main);
        }

        /* 回答結果 */
        .answer{
            width: 100%;
            height: auto;
            margin: auto;
            box-shadow: 0px 0px var(--history--shadow-size) var(--history--shadow-color);
            border-radius: 10px;
            max-width: var(--max-width);
            background-color: var(--bg-body);

        }
        .answer--box{
            width: 100%;
            height: 6em;
            position: relative;
            border-top: var(--boder-input-color) var(--boder-ratio) solid;
        }
        .answer--box:nth-child(1){
            border-top: 0;
        }
        .answer--box button{
            position: absolute;
            left: 30px;
            top: 50%;
            border: var(--bu-answer-color) var(--bu-boder-thick) solid;
            border-radius: var(--bu-boder-radius);
            text-align: center;
            color: var(--bu-answer-color);
            transform: translateY(-50%);

        }
        .answer--box p{
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            margin: 0px;
            font-size: 4em;
            color: var(--bu-answer-color);
        }
        .answer__correct{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 0px 0px  var(--answer--st) var(--answer--shadow-color) inset;
            border-radius: 5px;
            width:20%;
            height:calc(100% - (5px * 2));
        }
        .answer__correct--box{
            width: 100%;
            height: 100%;
            position: relative;

        }
        .answer__correct--box span{
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 1em;
            color: var(--nav-color);

        }
        .answer__correct--box p{
            font-size: 2em;
            color: var(--nav-color);
        }

        :root{
            --top-link:50px
        }
        #top-link a{
            display: block;
            position: fixed;
            bottom: 30px;
            right: 30px;
            width: var(--top-link);
            height: var(--top-link);
            border: var(--nav-color) 2px solid;
            border-radius: 30px;
        }
        #top-link a::after{
            content: "";
            position: absolute;
            top: 60%;
            left: 50%;
            width: calc(var(--top-link) / 2);
            height: calc(var(--top-link) / 2);
            border: var(--nav-color) 3px solid;
            
            border-bottom: 0px;
            border-right: 0px;

            transform: translate(-50%,-50%) rotate(45deg);
            
        }

        @media screen and (max-width:1024px) {
            .answer--box {
                height: 16em;
            }
            .answer__correct {
                top: 25%;
                transform: translateY(-50%);
                height: calc(6em - (5px * 2));
            }

            .answer--box button {
                left: 30px;
                top: 25%;

                transform: translateY(-50%);
            }
            .answer--box p {
                
                left: 50%;
                top: 100%;
                transform: translate(-50%,-100% );
                margin: 0px;
                font-size: 6em;
            }
            .answer__correct--box p{
                top: 50%;
                font-size: 2em;
                transform: translate(-50%, -50%);

            }
            .ratio__info {
                font-size: 3.5em;
            }
        }
        @media screen and (max-width:768px){
            body {
                padding: 0;
                margin: 0;
                width: 100vw;
                height: 100vh;
                text-align: center;
                font-size: clamp(8px, 1.3vw, 22px);
            }
            .ratio__info {
                font-size: 3em;
            }
            .answer--box p {
                font-size: 5em;
            }
            .answer__correct--box p {
                font-size: 2em;
            }

            .ratio__info p {
                margin: 15px 5px;
            }
            header{
                font-size:clamp( 12px, 1.3vw, 22px) ;

            }
        }
        @media screen and (max-width:500px){
            header button{
                display: none;
            }
                        main {
                overflow: hidden;
                padding: 80px 15px;
            }
            .ratio {
                padding: 20px 10px;
            }
        }