        :root{
            --bg-body:#ffffff;
            --bg-main:#f2f2f2;
            --bg-bu-color:#ffffff00;
            --bg-header:#ffffffae;

            --bu-end-color:#D7003A;
            --bu-next-color:#007BBB;
            --bu-return-color:#007BBB;
            --bu-answer-color:#91ca08;
            --bu-invalid-color:#7d7d7db0; 

            --text-color-main:#007bbb;
            --text-color-next:#ffffff;
            --text-color:#454545;

            --border-input-color:#707070;

            --bu-border-radius:5px;
            --bu-border-thick:5px;
            
            --shadow-size:5px;
            --shadow-color:#000000b0;

            --input-color:#fafafa;
            --input-pl-color:#818181;

            --nav-color:#707070;

        }
        /* ダークモード切り替え */
        body.mode--dark {
            --bg-body: #606060;
            --bg-main: #323232;
            --bg-bu-color: #ffffff00;
            --bg-header: #3f3f3fae;
            --text-color-next: #ffffff;
            --text-color-main: #009cee;
            --bg-answer-correct: #434343;
            --input-color:#3c3b3b;
            --bu-answer-color: #aaed0e;
            --bu-end-color:#e21818;
            --info-text-color: #e0e0e0;
            --text-color:#c9c9c9;
            --nav-color: #dddddd;
            --input-pl-color:#818181;
            --bu-invalid-color:#c5c5c5b0; 
        }

        /* ベース */
        *{
            box-sizing: border-box;
        }
        html{
            scroll-behavior: smooth;
        }
        a{
            text-decoration:inherit;
        }

        /* 注意、ここだけCSSの構造が別のファイルと異なるので注意 */
        body{
            padding: 0;
            margin: 0;
            width: auto;
            height: 100dvh;
            text-align: center;
            color: var(--text-color);
            background-color: var(--bg-main);

            /* フォントの設定 */
            font-family: "M PLUS 1p", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
        button{
            background-color: var(--bg-bu-color);
            font-size: 1.2em;
            padding: 5px 15px;
            cursor:pointer;
            filter: grayscale(0%);
            box-shadow: 0px 0px 0px var(--shadow-color);
            transition: filter 0.2s ease, box-shadow 0.2s ease;
        }
        button:hover{
            box-shadow: 0px 0px var(--shadow-size) var(--shadow-color);
            filter: grayscale(90%);
        }
        /* ベースここまで */

        /*ヘッダーは別ファイルから読み込む 
        差分をここに記述 */
        header button{
            border: var(--bu-end-color) var(--bu-border-thick) solid;
            border-radius: var(--bu-border-radius);
            text-align: center;
            color: var(--bu-end-color);
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
        }
        header h1{
            color: var(--text-color-main);
            font-size: 2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0px;
        }

        .header-info--box p{
            font-size: 1.5em;
            color: var(--text-color-main);
            margin: 0px;
            margin: auto;
        }

        /* メインコンテンツ */
        main{
            min-height: 425px;
            min-width: 320px;
            width: 100%;
            height: 100%;
            background-color: var(--bg-main);
            padding-top: 50px;
            padding-bottom: 60px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        main div{
            width: 90%;
            height: 50%;
            margin: auto;
        }
        main div h2{
            color: var(--text-color-main);
            font-size: 5em;
            margin: 0;
            margin-bottom: 15px;

            font-family: "M PLUS 1p", sans-serif;
            font-weight: 600;
            font-style: normal;
            
            text-align: center;
        }
        main div input{
            width: 100%;
            margin-top: 10px;
            height: calc(50% - 10px);
            border: 2px solid var(--border-input-color);
            border-radius: 5px;
            padding: 10px;
            font-size: 2.5em;
            color: var(--text-color);
            box-sizing: border-box;
            text-align: center;
            box-shadow: 0px 0px var(--shadow-size) var(--shadow-color);
            background-color: var(--input-color);
            font-weight: 600;
            transition: border-width 0.2s ,box-shadow 0.5s;
        }
        main div input::placeholder{
            color: var(--input-pl-color);
        }
        main div input:hover{
            border-width:1px;
            box-shadow: 2px 2px 10px var(--shadow-color) ;
        }

        /* ここからフッター */
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: var(--bg-body);
            box-shadow: 0px 0px var(--shadow-size) var(--shadow-color);
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        footer button{
            border: var(--bu-return-color) var(--bu-border-thick) solid;
            border-radius: var(--bu-border-radius);
            color: var(--text-color-main);
            cursor: pointer;
        }
        #return{
            color: var(--text-color-main);
        }
        #answer{
            border-color: var(--bu-answer-color);
            color: var(--bu-answer-color);
        }
        #next{
            background-color: var(--bu-next-color);
            color: var(--text-color-next);
            border-color: var(--bu-next-color);
        }

        /* ここからレスポンシブ */
        @media screen and (max-width:425px) {
            main div h2 {
                font-size: 3.5em;
            }
            #title {
                font-size: 1.2em;
                left: calc(50% - 15px);
                transform: translate(-50%, -50%);
            }
            main div input {
                font-size:1.5em;
            }
            header button {
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
            }
            #menu {
                margin-left: calc(100% - 40px);
            }
        }